<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Ferns Installation</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.3.1/dist/siimple.min.css">
    <style type="text/css">
        body {
            padding-top: 100px;
        }

        .form-container {
            width: 400px;
            margin: auto;
        }

        .credits {
            border-top: 1px solid #ddd;
            margin-top: 40px;
            padding-top: 20px;
        }
    </style>
</head>
<body>
    <div class="siimple-content siimple-content--extra-small">
        <div class="siimple--px-1 siimple--py-1">
            
            

            
        <% if(locals.installation) { %>
        <div class="siimple-alert siimple-alert--error"> Installation Already Completed</div>
        <% } %>
        <% if(!locals.installation) { %>
            <div class="siimple-steps siimple-steps--primary">
                <div class="siimple-steps-item">
                    <div class="siimple-steps-item-bubble"></div>
                    <div class="siimple-steps-item-title">Create Collections</div>
                    <div class="siimple-steps-item-description">Step description content</div>
                </div>
                <div class="siimple-steps-item">
                    <div class="siimple-steps-item-bubble"></div>
                    <div class="siimple-steps-item-title"> Create Admin</div>
                    <div class="siimple-steps-item-description">Step description content</div>
                </div>
                
            </div>
            <form method="post">
                <div class="siimple-field">
                    <label for="username" class="siimple-field-label">Username</label>
                    <input type="text" name="username" id="username" value="<%= locals.username || '' %>" class="siimple-input siimple-input--fluid" placeholder="username" autofocus />
                </div>
                <div class="siimple-field">
                    <label for="password" class="siimple-field-label">Password</label>
                    <input type="password" name="password" id="password" class="siimple-input siimple-input--fluid" placeholder="password"/>
                </div>
                <div class="siimple-field">
                    <button type="submit" class="siimple-btn siimple-btn--primary siimple-btn--fluid siimple--text-bold">Install & Register</button>
                </div>
            </form>
        <% } %>
       
            
           
            
        </div>
    </div>
</body>

</html>