<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/siimple@3.3.1/dist/siimple.min.css"
    />
    <style type="text/css">
      .credits {
        border-top: 1px solid #ddd;
        margin-top: 40px;
        padding-top: 20px;
      }
    </style>
  </head>
  <body>
    <div class="siimple-content siimple-content--extra-small">
      <div class="siimple--px-5 siimple--py-5">
        <div
          class="siimple-h2 siimple--text-normal siimple--mb-1"
          align="center"
        >
          Login
        </div>
        <% if(locals.error) { %>
            <div class="siimple-alert siimple-alert--error"><%= error %></div>
            <% } %> <% if(locals.success) { %>
            <div class="siimple-alert siimple-alert--success"><%= success %></div>
            <% } %>
        <form method="post">
         

          <div class="siimple-field">
            <label for="username" class="siimple-field-label">Username</label>
            <input type="text" name="username" id="username" value="<%=
            locals.username || '' %>" class="siimple-input siimple-input--fluid
            autofocus />
          </div>
          <div class="siimple-field">
            <label for="password" class="siimple-field-label">Password</label>
            <input
              type="password"
              name="password"
              id="password"
              class="siimple-input siimple-input--fluid"
              placeholder="password"
            />
          </div>
          <div class="siimple-field">
            <button
              type="submit"
              class="siimple-btn siimple-btn--primary siimple-btn--fluid siimple--text-bold"
            >
              Login
            </button>
          </div>
        </form>

        <div class="siimple-card siimple--mt-5" align="center">
          <div class="siimple-card-body">
            Don't have an account?
            <a class="siimple-link">Create an account</a>.
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
